@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
    margin: 0;
    padding: 0;
}

body {
background: #353535;
    font-family: Lato, sans-serif;
}

.settings {
    display: flex;
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #444;
    background: #282828;
    justify-content: space-evenly;
    min-height: 80px;
}

.settings-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings-row {
    flex-direction: row;
}

.form-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 6px;
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-controls select, 
.form-controls input {
    margin: 3px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

label {
    margin: 0 5px;
}

